# Simulation 0
# Fiducial

# Yields
yields_snii_dir = limongi06/iso_yields/
yields_agb_dir = karakas10/iso_yields/
yields_snia_dir = iwamoto99/
yields_rprocess_dir = cescutti06/
yields_sprocess_dir = busso01/
yields_snia_model = w70
yields_r_elements = Ba, Eu
yields_s_elements = Ba,

# Basic parameters
initialize_radius = 10.
initialize_time_tot = 12000.
initialize_dt = 30.
initialize_imf = kroupa

# Mass bins
mass_bins_low = 0.1
mass_bins_high = 100.
mass_bins_dm_low = 0.1
mass_bins_dm_high = 1.

# SNIa DTD
snia_dtd_func = exponential
snia_dtd_min_snia_time = 150.
snia_dtd_timescale = 1500.
snia_dtd_snia_fraction = 0.135

# Inflow
inflows_func = exp
inflows_mgas_init = 2e10
inflows_M1 = 4e11
inflows_b1 = 6000.
inflows_inflow_ab_pattern = bbns
inflows_inflow_metallicity = 1.0

# Outflow
outflows_outflow_source = ism
outflows_eta_outflow = 2.5

# Warm ISM
warmgasres_warmgas = False

# Star Formation Law
sf_nu_kslaw = 1e-9
sf_N_kslaw = 1.
